/* App.css */
*{
  background-color: rgb(231, 234, 237);
}
.city-tabs {
  display: flex;
  margin-bottom: 20px; /* Add margin to the bottom */
  margin-left: 120px;
  color: #f0f0f0;
}


.city-tabs button {
  margin-right: 10px; /* Add margin to the right of each button */
  padding: 8px 16px; /* Add padding to the buttons */
  border: 1px solid rgb(230, 228, 224);
  border-radius: 45%;
  background-color: rgb(243, 232, 232);
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s; /* Smooth color and background-color transitions */
}

.city-tabs button:hover {
  background-color: #a2b8ec; /* Change background color on hover */
  color: rgb(9, 9, 14); /* Change text color on hover */
 
}

.city-tabs button.active {
  color:white; /* Change text color for active button to blue */
  background-color: blue;
  
}
.heading{
  text-align: center;
}